<h2>Welcome to my {{title}} !!!</h2>
<p>{{WelcomeMsg}}</p>
<div>Name:{{student.name}}  Age:{{student.age}}</div>
<ul>
  <li *ngFor="let name of students">{{name}}</li>
</ul>
<ul>
  <li *ngFor="let teacher of teachers">Name:{{teacher.name}}----Subject:{{teacher.subject}}</li>
</ul>
<br><br>
<div>
  <label>First Lecture :- </label>
  <span *ngIf="day==='Monday'">Angular Development</span>
  <span *ngIf="day==='Tuesday'">PPL</span>
</div>
<br><br>

<div [ngSwitch]="day">
  <label>First Lecture :- </label>
  <span *ngSwitchCase="'Monday'">Angular Development</span>
  <span *ngSwitchCase="'Tuesday'">PPL</span>
  <span *ngSwitchDefault>No Lecture Enjoy !!</span>
</div>

<img src={{reactLogoLink}} height="100px" (click)="sayHello()">

<div style="background-color: blueviolet; color: blue;">
  My color changing
</div>

<div [style.color]="'red'">
  My color keeps changing
</div>

<div [ngStyle]="{'background-color':'yellow','color':'red'}">
  My color
</div>
<br><br>

<div class="green-background" [class.white-text]="showWhiteText">
  Color changing
</div>

<br>

<div class="green-background" [ngClass]="{ 'white-text':showWhiteText,'bold-font':showBoldText}">
  Color changing
</div>