h2{
    background-color: darkblue;
    color: yellow;
}

ul{
    padding-left: 30px;
    margin-top: 50px;
}

input{
    border: 50px;
    box-sizing: border-box;
}

.green-background{
    background-color: green;
    color: purple;
}
.white-text{
    color: white;
}
.bold-font{
    font-weight: 600;
}